
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Hahmlet', serif;
    overflow-x: hidden;
    background-color: whitesmoke;
}

#temp {
    font-size: 1.6rem;
}

/*메인 이미지 불투명*/
.mytitle {
    width: 100%;
    min-width: 578px;
    height: 768px;
    margin: 0 auto;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    z-index: 1;
}

/*타이핑 효과*/
#maintext {
    width: 100%;
    min-width: 576px;
    text-align: center;
    font-size: 4.6rem;
    letter-spacing: -0.2rem;
    margin: 0 auto;
}

/*캐러셀 이미지*/
.myslide {
    position: relative;
    width: 100%;
    min-width: 576px;
}

/* 이미지 높이 변경 */
.carousel-inner {
    position: absolute;
    z-index: -1;
}

.d-block {
    display: block;
    height: 768px;
}


/*about me 전체틀*/
.myprofile {
    position: relative;
    width: 100%;
    min-width: 576px;
    text-align: center;
    background-color: whitesmoke;
    margin: 0 auto;
}

/*about me 서브틀*/
.profilesub {
    width: 100%;
    min-width: 576px;
    height: 867px;
    padding: 6.6rem;
    background-color: whitesmoke;
}

.profilesub > h1 {
    width: 100%;
    font-size: 5.6rem;
    font-weight: bold;
    letter-spacing: -0.1rem;
    padding-top: 70px;
    padding-bottom: 70px;
}

/*이미지틀*/
.profileimg {
    float: left;
    width: 50%;
    min-width: 576px;
}

.profileimg > img {
    border-radius: 20px;
    width: 90%;
}

/*텍스트틀*/
.profiletext {
    float: right;
    width: 50%;
    min-width: 576px;
    padding: 3.6rem 6.6rem 3.6rem;
}

.profiletext > h3 {
    width: 40%;
    min-width: 576px;
    text-align: justify;
    font-size: 2rem;
    font-weight: bold;
}

.profiletext > p {
    padding-top: 50px;
    width: 40%;
    min-width: 576px;
    text-align: justify;
}


/*스터디 전체틀*/
.mystudy {
    position: relative;
    width: 100%;
    min-width: 576px;
    height: 867px;
    text-align: center;
    background-color: powderblue;
}

/*스터디 서브틀*/
.studycard {
    width: 100%;
    min-width: 576px;
}

.studycard > h1 {
    width: 100%;
    min-width: 576px;
    font-size: 6.6rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    padding-top: 120px;
    padding-bottom: 70px;
    color: white;
}

/*스터디 목록 바디*/
.studycard > .studybody {
    float: left;
    width: 25%;
    padding: 10.6rem;
    margin: 5.6rem;
    text-align: center;
    border-radius: 100px;
    background-color: white;
}

.studycard > .studybody > h1 {
    font-size: 4.6rem;
}

.studycard > .studybody > a {
    border-radius: 50px;
    margin: 0.6rem auto;
    padding: 1rem;
    font-size: 1.6rem;
}

.studycard > .studybody > a:hover {
    border-radius: 50px;
    margin: 0.6rem auto;
    padding: 1rem;
    border: 1px solid white;
    background-color: #0dcaf0;
    color: white;
}

/*work 목록 전체틀*/
.myworklist {
    position: relative;
    top: -40px;
    width: 100%;
    min-width: 576px;
    background-color: lightsalmon;
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
    border-radius: 50px;
}

.myworklist > h1 {
    width: 100%;
    min-width: 368px;
    font-size: 6.6rem;
    font-weight: bold;
    letter-spacing: -0.1rem;
    color: white;
}

.myworklist > .worklist {
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 100px;
}

.worklist h3 {
    margin: 2.6rem auto 1.6rem;
}

.worklist a {
    border-radius: 50px;
    padding: 1rem 1.6rem;
    font-size: 1.6rem;
    text-decoration: none;
    border: 1px solid lightsalmon;
    background-color: white;
    color: lightsalmon;
}

.worklist a:hover {
    border-radius: 50px;
    padding: 1rem 1.6rem;
    font-size: 1.6rem;
    text-decoration: none;
    border: 1px solid white;
    background-color: lightsalmon;
    color: white;
}

/*인스타그램 전체 틀*/
.myinstagram {
    position: relative;
    width: 100%;
    min-width: 576px;
    padding-top: 10.6rem;
    padding-bottom: 10.6rem;
    background-color: whitesmoke;
}

.myinstagram > h1 {
    width: 100%;
    min-width: 368px;
    font-size: 5.6rem;
    font-weight: bold;
    letter-spacing: -0.1rem;
    padding-bottom: 60px;
    text-align: center;
}

/*contact 전체 틀*/
.mycontact {
    position: relative;
    width: 100%;
    min-width: 576px;
    height: 400px;
    padding-top: 30px;
    text-align: center;
    background-color: powderblue;
}

/*contact 서브 틀*/
.contactsub {
    width: 100%;
    min-width: 576px;
    margin: 0 auto;
    padding-top: 90px;
}

/*CONTACT h1*/
.contactsub > h1 {
    width: 100%;
    min-width: 576px;
    font-size: 5.6rem;
    font-weight: bold;
    letter-spacing: -0.1rem;
    padding-bottom: 60px;
    text-align: center;
}

/*contact 목록*/
.contactsub li {
    width: 50%;
    min-width: 576px;
    font-size: 2rem;
    display: block;
    text-align: center;
    margin: 0 auto;
}

/*푸터 전체 틀*/
.mylastfooter {
    position: relative;
    width: 100%;
    min-width: 576px;
    margin: 0 auto;
    text-align: center;
}

.mylastfooter h5 {
    font-size: 2rem;
}

.mylastfooter p {
    font-size: 1rem;
}
